#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.btn-toggle-theme {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  color: inherit;
  transition: background-color 0.3s ease,
    color 0.3s ease;
}

.btn-toggle-theme:hover {
  background-color: #f0f0f0;
  color: #333;
}

/* Adjust the hover effect for dark mode */
.dark .btn-toggle-theme:hover {
  background-color: #333;
  color: #f0f0f0;
}
